@font-face {
  font-family: 'CenturySchoolbook';
  src: local('Century Schoolbook'),
    url('../fonts/CenturySchoolbook.woff2') format('woff2'),
    url('../fonts/CenturySchoolbook.woff') format('woff'),
    url('../fonts/CenturySchoolbook.ttf') format('ttf')
}

:root {
  /* dark on light */
  /* --bkgnd: #fffff5; */
  /* --context: #39CCEE; */
  /* --em: black; */
  --text: #AAAAAA;
  /* -------------- */
  /* light on dark */
  --em: white;
  --context: #af5c13;
  --bkgnd: black;
  /* possible clrs.cc blues #0074D9 lighter #7FDBFF teal #39CCCC */
}

html {
  background-color: var(--bkgnd);
}

body {
  background-color: var(--bkgnd);
}

/* h2 {
	font-size: 100%;
	margin-top: .4vw;
	margin-bottom: 1.6vw;
	letter-spacing: .3em;
	border-bottom: 1px dotted #7f7f7f;
	color: #666;
} */

span {
  transition: color .7s ease-in-out;
  -o-transition: color .7s ease-in-out;
  -ms-transition: color .7s ease-in-out;
  -moz-transition: color .7s ease-in-out;
  -webkit-transition: color .7s ease-in-out;
}

#display {
  font: 2vw/1.4 CenturySchoolbook, serif;
  color: var(--text);
  font-variant-ligatures: no-common-ligatures;
  margin: 5vw 1vw;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#display p {
  min-width: 100%;
  margin-top: .5vw;
  margin-bottom: 1.5vw;
}

#display em {
  font-style: normal;
  /* font-weight: bold; */
  /* darkred is good for debugging with orange */
  transition: color .7s ease-in-out;
  -o-transition: color .7s ease-in-out;
  -ms-transition: color .7s ease-in-out;
  -moz-transition: color .7s ease-in-out;
  -webkit-transition: color .7s ease-in-out;
}

#display em.visible {
  font-style: normal;
  /* font-weight: bold; */
  color: var(--em);
  /* darkred is good for debugging with orange */
}

#supplytext {
  display: none;
}

.fade {
  cursor: pointer;
}

.fade:hover {
  color: var(--context);
}

.none {
  display: none;
}

.visible {
  color: var(--context);
  /* transition: color .7s ease-in-out;
  -o-transition: color .7s ease-in-out;
  -ms-transition: color .7s ease-in-out;
  -moz-transition: color .7s ease-in-out;
  -webkit-transition: color .7s ease-in-out; */
}